html {
  height: 100%;
}

h1 {
  font-family: "Amatic SC";
  text-decoration: overline;
  animation: loadName 0.5s ease-in;
}

.container-fluid {
  width: 60%;
}

.primary {
  color: #896C8E;
}

.btn-default {
  color: #FFFFFF;
  background-color: #FFAC9E;
  animation: loadBtn 0.6s ease-in;
}

body {
  background-image: linear-gradient(150deg, #FFAC9E, #FF7C81);
  background-attachment: fixed;
  text-align: center;
  font-family: "ZCOOL QingKe HuangYou";
}

.box {
  position: relative;
  margin-bottom: 5%;
  align: center;
  width: 100%;
  opacity: 0.8;
  padding: 30px;
  border-radius: 10px;
  background: white;
  animation: loadBox 0.4s ease-in-out;
}

/**********************************************************
 *                      NAVIGATION                        *
 **********************************************************/
 .nav {
   width: 100%;
 }
.navicon {
  color: white;
  opacity: 0.7;
}

.navicon:hover {
  color: white;
  opacity: 0.9;
}

.navicon:hover .hovtext {
  visibility: visible;

}

.hovtext {
  visibility: hidden;
  color: #fff;
  z-index: 1;
}


/**********************************************************
 *                   TRANSFORMATIONS                      *
 **********************************************************/
@keyframes loadName {
 from { transform: translateX(150px); opacity: 0; }
 to { transform: translateX(0px); opacity: 0.9; }
}

@keyframes loadBox {
 from { transform: translateY(-80px); opacity: 0; }
 to { transform: translateY(0px); opacity: 0.7; }
}

@keyframes loadBtn {
 from { transform: translateX(-80px); opacity: 0; }
 to { transform: translateX(0px); opacity: 0.9; }
